<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./public/styles.css">
</head>
<body>
    <h1>{{ title }}</h1>
    {{#courses}}
        <div class="course-card">
            <h2>{{{ name}}}</h2>
            <p><strong>Duration:</strong> {{{ duration }}}</p>
            <p><strong>Schedule:</strong> {{ schedule }}</p>
            <p><strong>Description:</strong> {{ description }}</p>
            <p><strong>Location:</strong> {{ location }}</p>
            <p><strong>Price:</strong> {{{ price }}}</p>
        </div>
        {{/courses}}
</body>
</html>