<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Welcome!}}</title>
    <link rel='stylesheet' href="./public/styles.css">
</head>

<body>
    <p>Discover our dance courses and book your class today!</p>
    <a href="/courses">View Courses</a>
</body>
